* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid black;
}

.screen {
    height: 84px;
}

.row {
    display: flex;
    gap: 8px;
}

button {
    flex: 1;
    font-size: 48px;
    padding: 8px 16px;
}
